<!doctype html>
<html lang="en">
  <head>
    <title>Morrowind Map Explorer (MME)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/custom.css" rel="stylesheet" media="screen">
    <link href="static/jquery-ui.min.css" rel="stylesheet" media="screen">
    <!-- <link href="static/jquery-ui.theme.min.css" rel="stylesheet" media="screen"> -->
  </head>
  <body class="body">
    <div class="container">
      <form action="" method="post">
        <!-- <div class="row no-gutters">
          <b>Morrowind Map Explorer (MME)</b>
        </div> -->
        <!-- Modal -->
        <div class="modal fade" id="modal_description" tabindex="-1" aria-labelledby="modalDescriptionLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalDescriptionLabel">Location Description</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="description" id="description"></div>
              </div>
              <div class="modal-footer">
                <textarea class="comment" id="comment" name="comment" placeholder="Your comment for location"></textarea>
                <div class="btn-group status_container" role="group" aria-label="Status">
                  <input type="radio" class="btn-check" name="status" id="status_0" value="0" autocomplete="off" checked>
                  <label class="btn btn-secondary" for="status_0">UNKNOWN</label>
                  <input type="radio" class="btn-check" name="status" id="status_1" value="1" autocomplete="off">
                  <label class="btn btn-secondary" for="status_1">VISITED</label>
                  <input type="radio" class="btn-check" name="status" id="status_2" value="2" autocomplete="off">
                  <label class="btn btn-secondary" for="status_2">PLANNED</label>
                  <input type="radio" class="btn-check" name="status" id="status_3" value="3" autocomplete="off">
                  <label class="btn btn-secondary" for="status_3">SPECIAL</label>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">MME</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="change_language">ENG/RU</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="patch" name="patch" href="#">Patch</a>
                </li>
                <select class="nav-item dropdown" id="lod" name="lod">
                  <option selected>Select detalization level (0 - min, 5 - max, 4 - default)</option>
                  <option value="0">LEVEL 0</option>
                  <option value="1">LEVEL 1</option>
                  <option value="2">LEVEL 2</option>
                  <option value="3">LEVEL 3</option>
                  <option value="4">LEVEL 4</option>
                  <option value="5">LEVEL 5</option>
                </select>
              </ul>
              <div class="container-fluid">
                <span class="navbar-text" id="report" name="report">
                  {% if report|length > 1 %}
                    {{report}}
                  {% endif %}
                </span>
              </div>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" list="datalistOptions" id="name" name="name" placeholder="Search" aria-label="Search">
                <datalist id="datalistOptions">
                  {% for name in names %}
                    <option value="{{name}}">
                  {% endfor %}
                </datalist>
                <button class="btn btn-outline-success" name="search" id="search">Search</button>
              </form>
            </div>
          </div>
        </nav>
        <div class="container map">
          <div class="pointer" id="pointer">[00.00:00.00]</div>
          <div class="scaler" id="scaler">
            <div class="scale ui-slider-handle" id="scale">{{session.view_point.s}}%</div>
          </div>
          <div class="container img" id="img_container">
            <img class="img" id="img" src="{{img}}" alt="img" style="width: {{session.view_point.s}}%;"/>
          </div>
        </div>
      </form>
    </div>
    <div class="modal fade" id="modal_promt" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalPromtLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalPromtLabel"Title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="promt_text" id="promt_text"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="promt_cancel" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="promt_run">Run</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script>

      $(function() {
        $("#img").ready(function() {
          $.getJSON('/map_init', {
              }, function(data) {
                $("#img").css("width", data.view_point.w + "%");
                $("#img_container").scrollLeft(parseInt(data.view_point.x * $('#img_container').innerWidth() / 100));
                $("#img_container").scrollTop(parseInt(data.view_point.y * $('#img_container').innerHeight() / 100));
          });
          return false;
        });
      });


      $(function() {
        $("#img_container").on('scroll', function(e) {
          e.preventDefault();
          var s = parseInt($("#scaler").slider("value"));
          var x = parseInt(100 * $("#img_container").scrollLeft() / $('#img_container').innerWidth());
          var y = parseInt(100 * $("#img_container").scrollTop() / $('#img_container').innerHeight());
          $.getJSON('/map_moved', {
                x: x,
                y: y,
                s: s,
              }, function(data) {
                // ...
          });
          return false;
        });
      });


      $( function() {
        var handle = $("#scale");
        $("#scaler").slider({
          range: "min",
          min: 1,
          max: 300,
          value: parseInt($("#scale").text()),
          create: function() {
            // handle.text('scale');
          },
          slide: function(event, ui) {
            var s = parseInt(ui.value);
            handle.text(s);
            $("#img").css("width", s + "%");
            var x = 100;
            var y = 100;
            $.getJSON('/map_moved', {
                  x: x,
                  y: y,
                  s: s,
                }, function(data) {
                  // ...
            });
          }
        });
        $("#scale").val($("#scaler").slider("value"));
      } );


      $(function() {
        $("#img").on('mousemove', function(e) {
          var parentOffset = $(this).offset();
          var x = e.pageX - parentOffset.left;
          var y = e.pageY - parentOffset.top;
          var x_max = $(this).width();
          var y_max = $(this).height();
          var x_rel = (100*x/x_max).toFixed(2)
          var y_rel = (100*(1-y/y_max)).toFixed(2)
          $("#pointer").html(" [" + x_rel + " : " + y_rel + "]");
          return false;
        });
      });


      $(function() {
        $("#img").on('click', function(e) {
          var parentOffset = $(this).offset();
          var x = e.pageX - parentOffset.left;
          var y = e.pageY - parentOffset.top;
          var x_max = $(this).width();
          var y_max = $(this).height();
          var x_rel = (100*x/x_max).toFixed(2);
          var y_rel = (100*(1-y/y_max)).toFixed(2);
          $.getJSON('/map_clicked', {
                x_rel: x_rel,
                y_rel: y_rel,
              }, function(data) {
                $("#name").val(data.name);
                $("#status_" + data.status).trigger('click');
                $("#description").html(data.description);
                $("#modalDescriptionLabel").text(data.name);
                $("#comment").val(data.comment);
                $("#report").text("Last viewed: [" + x_rel + ":" + y_rel + "]");
          });
          $('#modal_description').modal('show');
          return false;
        });
      });


      function update_custom_data() {
        var name =   $.trim($("#name").val());
        var status = parseInt($("input[name='status']:checked").val());
        var comment = $.trim($("#comment").val());
        $.getJSON('/update_custom_data', {
              name: name,
              status: status,
              comment: comment,
            }, function(data) {
              // $("#img").attr("src", $("#img").attr("src") + '?' + Math.random());
              $("#img").attr("src", data.img);
        });
        return false;
      }


      $(function() {
        $("#comment").on('change', function(e) {
          e.preventDefault();
          update_custom_data();
        });
      });


      $(function() {
        $("input[name='status']").on('change', function(e) {
          e.preventDefault();
          update_custom_data();
        });
      });


      $(function() {
        $("#search").on('click', function(e) {
          var text = $.trim($("#name").val());
          $.getJSON('/search_clicked', {
                text: text,
              }, function(data) {
                $("#img").attr("src", data.img);
                $("#name").val(data.text);
                $("#report").text(data.report);
          });
          return false;
        });
      });


      $(function() {
        $("#lod").on('change', function(e) {
          e.preventDefault();
          var lod = $("#lod").val()
          if (lod == "Select detalization level (0 - min, 5 - max, 4 - default)") {
            return false;
          }
          $.getJSON('/lod_change', {
                lod: lod,
              }, function(data) {
                // $("#img").attr("src", $("#img").attr("src") + '?' + Math.random());
                $("#img").attr("src", data.img);
          });
          $("#report").text("Details level: " + lod);
          return false;
        });
      });

      $(function() {
        $("#patch").on('click', function(e) {
          $("#promt_text").text("This operation will make changes to the map.json database. It is strongly recommended to create a backup copy of the database.");
          $('#modal_promt').modal('show');
          return false;
        });
      });

      $(function() {
        $("#promt_run").on('click', function(e) {
          $('#modal_promt').modal('hide');
          var text = $.trim($("#name").val());
          console.log('Run button clicked');
          $.getJSON('/run_patch', {
                text: text,
              }, function(data) {
                $("#promt_text").html(data.report.replace(/\n/g, "<br />"));
                $('#modal_promt').modal('show');
          });
          return false;
        });
      });
    </script>
  </body>
</html>
