.body {
  background-color: #768296;
}

.container {
  padding: 5px 0;
}

.container.map {
  padding: 0px;
  margin: 0px;
}

.container.img {
  position: relative;
  overflow: auto;
  height: calc(100vh - 100px);
  padding: 0px;
  box-sizing: border-box;
  border: solid 1px;
  background-color: #768296;
}

.img {
  position: absolute;
  margin: auto;
}

.comment {
    width: 100%;
    min-height: 55px;
}

.pointer {
  position: relative;
  top: 48px;
  left: 16px;
  text-align: left;
  color: white;
  z-index: 1;
}
